        
<div class="book row">
    <h3>
        {{book.title}}
    </h3>
    <div class="book row justify-content-center">
        <div class="col-3"><b>Editora:</b> {{book.publisherBook}}</div>
        <div class="col-3"><b>Edição:</b> {{book.edition}}</div>
        <div class="col-4"><b>Ano de publicação:</b> {{book.yearPublication}}</div>
        <div class="col-2">           
            <button class="btn btn-warning btn-sm " aria-label="Alterar" (click)="onSelectToChangeBook(book)">Alterar</button>       
            <button class="btn btn-danger btn-sm  " aria-label="Excluir" (click)="onDeleteBook(book)">Excluir</button>       
        </div>
    </div>
    <div class="book row justify-content-left" >
        <div class="col-6">
            <b>Autore(s):</b> {{authors}}
        </div>
        <div class="col-6">
            <b>Assunto(s):</b> {{authors}}
        </div>        
    </div>
    
</div>


